@media screen and (max-width: 1200px) {
    #main{
        padding: 0px 150px;
    }
    .info_proyect{
        font-size: .95rem;
    }
}

@media screen and (max-width: 992px){
    #main{
        padding: 0px 100px;
    }
}

@media screen and (max-width: 768px){
    #main{
        padding: 0px 50px;
    }
    .lateral{
        display: none;
    }
    .links_footter{
        display: block;
    }

    /*header*/
    .header{
        backdrop-filter: none;
    }

    .container-nav{
        width: 100%;
        min-width: 200px;
        max-width: none;
        position: fixed;
        right: 0;
        top: 0;
        backdrop-filter: blur(10px);
        transform: translateX(100%);
        transition: .3s linear;
    }

    .active_button_menu{
        transform: translateX(0%);
    }

    .menu ul{
        width: 50%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        background-color: #2b424d;
    }

    .menu ul li{
        margin: 25px 0px;
    }

    .item_menu::before{
        display: block;
        text-align: center;
        margin-right: 0;
        margin-bottom: 3px;
    }

    .menu_responsive{
        display: block;
    }
    .Services-List img{
        width: 100%;
    }
}

@media screen and (max-width: 650px){
    .container_description_section{
        grid-template-columns: 1fr;
    }
    .container_cards{
        grid-template-columns: 1fr;
    }
    .img_proyect1{
        width: 100%;
    }
    .description_proyect{
        margin-top: 10px;
    }

    .Services-List img{
        width: 600px;
        height: 200px;
    }
}
@media screen and (max-width: 560px){
    .container_cards{
        grid-template-columns: 1fr;
    }
    .menu ul{
        width: 100%;
    }
    .Services-List img{
        width: 100%;
    }
}