@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color1--: cyan;
    --color2--: #2b424d;
    --color3--: black;
    --textcolor1--: white;
    --textcolor2--: #dbdfe9;
    --borderadius1--: 5px;
}

html{
    font-size: 16px;
    font-family: 'Chakra Petch', sans-serif;
}

body{
    min-height: 100vh;
    counter-reset: item;
    counter-reset: section;
    background-color: #1c1a32;
}

.header{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b424d;
    position: fixed;
    top: 0;
    left: 0;
}

.container-nav{
    width: 50%;
    min-width: 400px;
}

.menu ul{
    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu ul li a{
    text-decoration: none;
    color: white;
}

.item_menu:hover{
    color: cyan;
}

.button_cv{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

/* Estilos de main */
/*.languajes{
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-decoration: none;

}*/

#main{
    width: 100%;
    max-width: 1600px;
    padding: 0px 300px;
    margin: 0 auto;
}

#presentation{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting_profile{
    color: cyan;
    font-size: 1.3rem;
    font-weight: 600;
}

.name_profile{
    font-size: 4.5rem;
    margin: 10px 0px 20px 0px;
    color: white;
}

.descripcion_pers{
    width: 90%;
    font-size: 1.1rem;
    color: var(--textcolor2--);
}

.container_section{
    font-size: 1.1rem;
}

/* Seccion Acerca de */
#acercaDe{
    padding: 100px 0px;
}

.container_title_section{
    padding-bottom: 15px;
    color: white;
}

.text-title-section{
    font-size: 1.5rem;
}

.container_description_section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    color: var(--textcolor2--);
}

.img_effect{
    width: 250px;
    height: 290px;
    position: relative;
}

.img_effect::before{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    transition: .3s ease;
}

.img_effect::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    border: 2px solid cyan;
    border-radius: 5px;
    position: absolute;
    left: 5px;
    top: 10px;
    z-index: -1;
    transition: .3s ease;
}

.img_effect:hover::after{
    left: 5px;
    top: 5px;
}

.img_effect img{
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.text_section p{
    margin-bottom: 10px;
}

.text_section ul{
    list-style: none;
    margin: 5px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text_section ul a{
    text-decoration: none;
}

#acercaDe .text_section ul li::before{
    content: ">";
    color: cyan;
    margin-left: 3px;
}

.text_section ul li a{
    color: var(--textcolor2--);
}

/* Secction Servicios */
#servicios{
    padding: 150px 0px;
}

#servicios .container_description_section{
    grid-template-columns: 1fr;
}

#servicios .text_section{
    grid-template-columns: 1fr;
}

#servicios .text_section p{
    display: flex;
}

#servicios .text_section p::before{
    content: ">";
    color: cyan;
    margin-left: 3px;
}
/* Estilos del logo */
.container_logo{
    width: 100px;
}
.container_logo img{
    width: 100%;
}

/*Seccion protafolio */
#portafolio{
    padding: 100px 0;
}

.container_cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img_proyect1{
    width: 680px;
    height: 220px;
}

.img_proyect1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
    transition: .3s;
}

.description_proyect{
    text-align: justify;
}

.text_proyect{
    letter-spacing: 0.1em;
}

.name_proyect{
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
}

.info_proyect{
    padding: 10px;
    margin-bottom: 10px;
    color: var(--textcolor2--);
}

.programing_languages ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    color: var(--textcolor2--);
}
.programing_languages ul li{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8rem;
    margin: 0px 5px;
}

.links_proyect ul{
    list-style: none;
    display: flex;
    justify-content: right;
    margin: 5px 0;
}

.links_proyect ul li{
    margin: 5px;
}

.links_proyect ul li:hover a{
    color: cyan;
}

.links_proyect ul li a{
    color: white;
    text-decoration: none;
}

.description_proyect{
    position: relative;
    left: -20px;
}

/*boton ver mas */
.button_repos{
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.ver_mas ul li{
    list-style: none;
    text-align: center;
}

.ver_mas ul li a{
    text-decoration: none;
    transition: .3s ease;
    color: var(--textcolor2--);
}

/* Section CONTACTO */
#contacto{
    padding: 150px;
    text-align: center;
}

#contacto .text_section::after{
    display: none;
}

#contacto .container_description_section{
    grid-template-columns: 1fr;
    width: 50%;
    margin: 0 auto;
}

/* Estilos de footer */
.footer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fcdb00;
}

.links_footter{
    padding: 10px 0;
}

.items_links{
    list-style: none;
    display: flex;
}

.items_links li{
    margin: 0px 10px;
    transition: .3s ease;
}

.items_links li a{
    text-decoration: none;
    color: black;
}

.items_links li:hover{
    transform: translateY(-5px);
}

.items_links li a svg{
    width: 25px;
    height: 25px;
}

.text_footer{
    padding: 15px 0;
}

/* Estilos de layterales */
.lateral{
    padding: 0px 20px;
    position: fixed;
    bottom: 0;
}

.lateral::after{
    content: "";
    width: 2px;
    height: 100px;
    display: block;
    background-color: #646f75;
    margin: 0 auto;
}

.lateral a{
    color: #646f75 ;
    text-decoration: none;
    transition: .3s ease;
}
.lateral a:hover{
    color: cyan;
}

.lateral ul li{
    margin: 15px 0px;
    transition: .3s ease;
}

.lateral ul li:hover{
    transform: translateY(-5px);
}
.izq{
    left: 0;
}

.lateral ul{
    list-style: none;
}

.der{
    right: 0;
}

.der a{
    margin-bottom: 15px;
    writing-mode: vertical-lr;
    letter-spacing: .1rem;
}
.email{
    font-size: 1.1rem;
    transition: .3s ease;
}

.email:hover{
    transform: translateY(-5px);
}